<!DOCTYPE html>

<html>
  <head>
    <link rel="stylesheet" href="/css/normalize.css" media="all">
    <link rel="stylesheet" href="/css/skeleton.css" media="all">
    <title>Shoe Store</title>
  </head>
  <body>
    <div class="container">
      <div class="row">
        <div class="twelve columns">
          <h2>Welcome to the Shoe Store Front</h2>
          <p>
            <a href="/">Home</a> &gt; {{ brand.getName() }}
          </p>
        </div>
      </div>

      <div class="row">
        <div class="six columns">

          <div class="row">
            <div class="eight columns">
              <h3>{{ brand.getName() }}</h3>
            </div>

            <div class="four columns">
              <form class="" action="/brands" method="post">
                <input type="hidden" name="_method" value="delete">
                <input type="hidden" name="delete_brand" value="{{ brand.getId() }}">

                <button type="submit">Delete</button>
              </form>
            </div>

            <div class="twelve columns">
              <form action="/brands/{{ brand.getId() }}" method="post">
                <input type="hidden" name="_method" value="patch">

                <label for="edit_brand">Update Name</label>
                <input type="text" name="edit_brand" id="edit_brand">

                <button class="button-primary" type="submit">Update</button>
              </form>
            </div>

            <div class="row">
                <h4>Stores that carry {{ brand.getName() }} </h4>

              {% if store_array is not empty %}
                {% for store in store_array %}
                  <div class="store">
                    <p>
                      <a href="/stores/{{ store.getId() }}">{{ store.getName() }}</a>
                    </p>
                  </div>
                {% endfor %}
              {% endif %}

            </div>
          </div>
        </div>
        <!-- End store name -->

        <div class="six columns">
          <div class="row">
            <h4>All Stores</h4>

            {% if all_stores is not empty %}
              {% for store in all_stores %}
                <div class="store">
                  <p>
                    {{ store.getName() }}
                    <form action="/brands/{{ brand.getId() }}" method="post">
                      <input type="hidden" name="brand_store" value="{{ store.getId() }}">
                      <button class="button" type="submit">Add</button>
                    </form>
                  </p>
                </div>
              {% endfor %}
            {% endif %}

          </div>
        </div>
        <!-- End all stores -->

      </div>
      <!-- end row -->
    </div>
    <!-- end container -->
  </body>
</html>
